
.bg-img {
    
    background-image: url("https://1.bp.blogspot.com/-__Rhboa1-_s/XqKUj2SLB6I/AAAAAAAAAB8/NVNG8eZ2A7w1CgAageK8mVuhO5TlNDc1gCLcBGAsYHQ/s1600/coding-vs-programming-2.jpg");
  
    min-height: 300px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
   
    position: relative;
  }
  
 
  .container {
    position: absolute;
    margin: 10px;
    width: auto;
  }
  
  
  .topnav {
    overflow: hidden;
    background-color: 0033FF;
  }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: blue;
  }
  .ul{
      font-size: large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: flex;
      align-self: center;
  }
  